<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Global Styles -->
  <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/reset-webview.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- Page-specific styles -->
  {% block head %}{% endblock %}

  <!-- Fonts & Icons -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="main">
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
  </div>

  {% include "footer.html" %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
